
<div style="display: flex; align-items: center; justify-content: center;">
  <div class='demo-app' style="width: 90vw; height: 60vh;">

    <div class='demo-app-sidebar'>
    </div>
  
    <div class='demo-app-main'>
      <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b> <br/>
          <i>{{ arg.event.title }}</i>
          <span>{{ arg.event.description }}</span>
          <span>{{ arg.event.doctor }}</span>
        </ng-template>
      </full-calendar>
    </div>
  
  </div>
</div>